{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div" xmlns="http://www.w3.org/1999/html">
        <div class="column">
            <h2 id="send-h2">{{ page_heading_2 }}</h2>
            <p id="send-center">{{ page_text }}</p>
            <form id="send-form" action="{{ action }}" method="{{ method }}">
                <fieldset>

                    <p><label for="ee_username"> EE Username: </label>
                        <input name="ee_username" type="text" id="ee_username" size="10" autofocus value=""/>
                    </p>
                    <p><label for="ee_password"> EE Password: </label>
                        <input name="ee_password" type="password" id="ee_password" size="10" value=""/>
                    </p>
                    <p><label for="send_phone_nr"> Phone Number: </label>
                        <input name="send_phone_nr" type="text" id="send_phone_nr" size="10" value=""/>
                    </p>
                    <p><label for="e_mail"> eMail Adress: </label>
                        <input name="e_mail" type="email" id="e_mail" size="10" value=""/>
                    </p>
        </div>
                    <div class="column1">
                        <p id="switch-text">Please select Switch status below:</p>
                        <label>Switch 1: On <input id="switch_1_param" name="switch_1_param" type="radio" value="On"/> Off
                            <input id="switch_1_param" name="switch_1_param" type="radio" value="Off" checked="checked"/></label>

                        <label>Switch 2: On <input id="switch_2_param" name="switch_2_param" type="radio" value="On"/> Off
                            <input id="switch_2_param" name="switch_2_param" type="radio" value="Off" checked="checked"/></label>

                        <label>Switch 3: On <input id="switch_3_param" name="switch_3_param" type="radio" value="On"/> Off
                            <input id="switch_3_param" name="switch_3_param" type="radio" value="Off" checked="checked"/></label>
                        <br>
                        <label>Switch 4: On <input id="switch_4_param" name="switch_4_param" type="radio" value="On"/> Off
                            <input id="switch_4_param" name="switch_4_param" type="radio" value="Off" checked="checked"/></label>

                    </div>
                    <div class="column2">
                        <label>Please select Fan Direction: Forward <input id="fan_param" name="fan_param" type="radio" value="Forward"/> Reverse
                            <input id="fan_param" name="fan_param" type="radio" value="Reverse" checked="checked"/></label>
                        <br>
                        <p><label for="heater_param"> Registered Heater Temperature: </label>
                            <input name="heater_param" type="number" id="heater_param" size="5" min="-100" max="300" placeholder="&deg;C" value=""/>
                        </p>
                        <p><label for="keypad_param"> Last Keypad Number Entered: </label>
                            <input name="keypad_param" type="number" id="keypad_param" size="5" min="0" max="9999" placeholder="4-digit" value=""/>
                        </p>
                        <br>
                        <input class="send-btn" type="submit" value="{{ submit_button_text }}">
                    </div>
                </fieldset>
            </form>

        </div>

{% endblock %}