{% extends 'banner.html.twig' %}
{% block content %}
    <h2>{{ page_heading_2 }}</h2>
    <h3>Downloaded data</h3>
    <form action="{{ action }}" method="{{ method }}">
    <table border="1">
        <tbody>
        <tr><th>Message</th></tr>
        {% for msg in dl_sms %}
            <tr><td>{{ msg }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
        <br>
    <input type="submit" value="{{ submit_button_text }}">
    </form>

{% endblock %}